<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Piano</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

   <!--  <servlet>
        <servlet-name>DataService</servlet-name>
        <servlet-class>
            org.gab.plane.server.DataServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataService</servlet-name>
        <url-pattern>
            /org.gab.plane.HelloWorld/data
        </url-pattern>
    </servlet-mapping>   -->
    
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>
            org.gab.plane.server.LoginServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>
            /org.gab.plane.LoginManager/data
        </url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>RegisterService</servlet-name>
        <servlet-class>
            org.gab.plane.server.RegisterServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterService</servlet-name>
        <url-pattern>
            /org.gab.plane.Register/data
        </url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>ManagerService</servlet-name>
        <servlet-class>
            org.gab.plane.server.ManagerServiceImpl
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerService</servlet-name>
        <url-pattern>
            /org.gab.plane.Manager/data
        </url-pattern>
    </servlet-mapping> 
  
</web-app>
